
<!-- 

<div class="grid grid-cols-2 gap-4">
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-auto md:h-auto">

 
       
    </div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-auto md:h-auto">
    
      <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 ">
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12 ">
             <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    
                    <div class="  w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0 ">
                        <button type="button" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                          <a class="btn btn-primary" routerLink="/categories/create">پست جدید</a>
                        </button>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm ltr:text-left rtl:text-right   text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr >
                                <th scope="col" class="px-4 py-3 ml-2 ltr:ml-3   "></th>
                                 <th scope="col" class="px-4 py-3 ltr:ml-3   ">برچسب</th>
                                  
                                <th scope="col" class="px-4 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allLabels" class="border-b dark:border-gray-700">
                                <th scope="row"  class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ item.id }}</th>
                                <td class="px-4 py-3 ltr:ml-3 rtl:mr-3    ">{{ item.titlelabel }}</td>
                                  
                                 
                                <td class="px-4 py-3 flex items-center justify-end">
 
                                  <button type="button" (click)="deleteItem(item.id)" class="btn btn-danger ms-5">حذف</button>
                        
                                </td>
                            </tr>
                             
                        </tbody>
                    </table>
                </div>
     
            </div>
        </div>
        </section>
    
    
    </div>
</div>

  -->