 
 
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">پست جدید</h2>
        <form action="#">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="txtTitleCategory" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">عنوان</label>
                    <input type="text" name="titleCategory" id="txtTitleCategory" [(ngModel)] = "categoryForm.titleCategory" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="یک عنوان بنویسید" required="">
                </div>
 
                <div class="sm:col-span-2">
                    <label for="txtDescriptionCategory" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">شرح</label>
                    <textarea id="txtDescriptionCategory" name="descriptionCategory" rows="8" [(ngModel)] = "categoryForm.descriptionCategory" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="شرح متن"></textarea>
                </div>
            </div>
            <button type="button" (click)="create()" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                ساخت
            </button>
        </form>
    </div>
  </section>